#!/usr/bin/make -f

VER=$(shell dpkg-parsechangelog | sed -n 's/^Version: \(.*\)-[^-]*$$/\1/p')

JAVA_HOME=/usr/lib/jvm/default-java
ANT_HOME=/usr/share/ant

JH_BUILD_SRC=$(CURDIR)/src

build: build-arch build-indep

build-arch: build-stamp

build-indep: build-stamp

build-stamp:
	dh_testdir
	unzip $(CURDIR)/source/jacksum-src.zip -d $(JH_BUILD_SRC)
	patch -p0 < debian/patches/01_newline.patch
	jh_build -mjonelo.jacksum.cli.Jacksum jacksum-$(VER).jar $(JH_BUILD_SRC)
	touch $@

binary: binary-indep binary-arch

binary-indep: build install
	dh_testdir
	dh_prep
	dh_install
	dh_installdocs
	dh_installchangelogs
	dh_installman
	jh_manifest
	dh_link
	jh_exec
	jh_depends
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: build install

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

clean:
	dh_testdir
	jh_build --clean
	dh_clean
	-@[ -e build-stamp ] && rm -f build-stamp
	-@[ -e src ] && rm -rf src
	-@[ -e jacksum-$(VER).jar ] && rm jacksum-$(VER).jar
	-@[ -e debian/jh_build_stamp ] && rm debian/jh_build_stamp
	-@[ -e debian/stamp-ant-build ] && rm debian/stamp-ant-build
